<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Dil değiştirme">
                    <match url="^/(tr|en)/?$" />
                    <serverVariables>
                        <set name="HTTP_REFERER" value="REQUEST_FILENAME" />
                    </serverVariables>
                    <action type="Rewrite" url="/index.php?lang={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
